/* место для вашего кода */
.header {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  margin: 94px 51px 94px;
}

.header__menu {
}

.header__links-list {
  list-style: circle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}

.header__links-list-item {
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
}

.header__logo {

}

.header__logo-image {
  height: 105px;
}

.address {
}

.header__address {
}

.main {
}

.cover {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  height: 757px;
  color: white;
  
}

.overlay {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.cover__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  align-self: center;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  align-items: end;
}

.cover__description-text {
}

.bet-button {
}

.footer {
}
