/* место для вашего кода */
.header {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  height: 59px;
  justify-content: space-between;
  align-items: center;
  margin: 94px 51px 117px;
}

.header__links-list {
  list-style: circle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  margin-left: -182px;
}

.header__logo-image {
  height: 105px;
}

.address {
  font-size: 20px;
}

/*Секция 1 - Оно тебе надо*/

.cover {
  font-family: "Raleway", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 757px;
  z-index: -1;
  border-radius: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -2;
  border-radius: 20px;
}

.cover__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  margin: 165px 50px 126px;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_center {
  margin-top: 9px;
  text-align: center;
  letter-spacing: 35px;
  padding-right: 10px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 3px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 52px 78px;
  align-items: center;
}

.cover__description-text {
  word-spacing: 19px;
  text-transform: uppercase;
  font-size: 22px;
}

.bet-button {
  height: 52px;
  width: 256px;
  text-transform: uppercase;
  font-size: 22px;
  background: transparent;
  color: white;
  border: 2px solid white;
}

.button__no_dec {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/*Секция 2 - Лоты*/

.lots {
  margin: 179px 24px 0px;
  font-family: "Raleway", sans-serif;
  height: 692px;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  column-gap: 25px;
  color: white;
  flex-grow: 1;
  flex-wrap: wrap;

}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
  flex-basis: 334px;
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  width: 76%;
  margin-top: 50px;
}

.card__text {
  font-size: 20px;
  width: 76%;
  align-items: end;
  margin-bottom: 48px;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  align-items: end;
}

/*Секция 3 - Об аукционе*/

.about {
  display: grid;
  grid-template-columns: 334px 766px;
  height: 595px;
  margin-top: 146px;
}

.about__column {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: black;
  display: flex;
  border-radius: 120px;
  align-self: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  height: 114px;
  align-self: center;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 136px;
}

.about__text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  row-gap: 25px;
  font-size: 20px;
}

.footer {
  margin: 180px auto 88px;
  height: 98px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: ;
}

.footer__menu {
  font-size: 20px;
  display: flex;
  align-self: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer__menu-list-item {
  align-self: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  column-gap: 30px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
